<h2>Log a new bird sighting<h2>
<br>
<form action="/sightings/" method="post">
    <ul class="flex-outer">
        <li>
            <label for="datetime">Date and time:</label>
            <input type="datetime-local" id="datetime" name="datetime">
        </li>
        <li>
            <label for="location">Location:</label>
            <input type="text" id="location" name="location">
        </li>
        <li>
            <label for="common_name">Bird common name:</label>
            <input type="text" id="common_name" name="common_name">
        </li>
        <li>
            <label for="scientific_name">Bird scientific name:</label>
            <input type="text" id="scientific_name" name="scientific_name">
        </li>
        <li>
            <label for="img_src">Link to image:</label>
            <input type="text" id="img_src" name="img_src" placeholder="www.example.com">
        </li>
        <li>
            <label for="description">Description:</label>
            <textarea name="description" id="description"></textarea>
        </li>
        <li>
            <button type="submit">Log Bird Sighting</button>
        </li>
    </ul>
</form>