<h2>Log a new bird sighting<h2>
<br>
<form action="/sightings/" method="post">
    <p>Sighting information</p>
    <p>Date and time: <input type="datetime-local" name="datetime"></p>
    <p>Location: <input type="text" name="location"></p>
    <br>
    <p>Bird details</p>
    <p>Common name: <input type="text" name="common_name"></p>
    <p>Scientific name: <input type="text" name="scientific_name"></p>
    <br>
    <p>Description: <textarea name="description"></textarea></p>
    <p><input type="submit" name="Log Bird Sighting"></p>
</form>