/* --- styles for new/edit bird forms --- */
  
  .flex-outer li{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
    }
    
  .flex-outer li label {
    text-transform: uppercase;
  }

  .flex-outer li label, .flex-outer li .currentInfo {
    padding: 8px;
    flex-grow: 1;
    flex-wrap: wrap;
    max-width: 25%;
  }

  .flex-outer li label + div.currentInfo {
    flex: 20%;
    }
  
  
  .flex-outer > li > label + *, .flex-outer > li > .currentInfo + *{
    flex-grow: 1;
    flex-wrap: wrap;
  }

  .flex-outer li input,
  .flex-outer li textarea {
    padding: 15px;
    border: none;
    flex-grow: 2;
  }
  
  .flex-outer li button {
    margin-left: auto;
    padding: 8px 16px;
    border: none;
    background: #1A5276;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
  }
/*  -- on hover-- */
  .flex-outer li button:hover {
    background-color: #ddd;
    color: black;
  }

/* --- styles for displaying sightings and birds --- */
.grid-container {
    height: auto;
    width: 90vw;
    display: grid;
    grid-template: auto / 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
  }
  
  .grid-item {
    background-color: #FDFEFE;
    border: 1px solid #ccc;
    padding: 1%;
  }

  img.show{
    max-width: 40%;
    max-height: 40%;
}

  .grid-item img {
      width: 100%;
  }

  .grid-item img.default{
    width: 30%;
    padding: 0% 30%;
   }

   button {
    border: 1px solid #ccc;
    font-size: 1em;
    cursor: pointer;
    padding: .5% 1%;
   }
  
   .grid-item button {
    width: 30%;
   }
  
  /* On mouse-over */
   button:hover {
      background: #1A5276;
      color: #FFFF;
      border: 1px solid #1A5276;
    }
    