.grid-container {
    height: auto;
    width: 90vw;
    display: grid;
    grid-template: auto / 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
  }
  
  .grid-item {
    background-color: #FDFEFE;
    border: 1px solid #ccc;
    padding: 1%;
  }

  .grid-item img {
      width: 100%;
  }

  .grid-item img.default{
    width: 30%;
    padding: 0% 30%;
   }