/* --- styles for new/edit bird forms --- */
  
  .flex-outer li {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    font-size: 16pt;
  }
    
  .flex-outer li label {
    text-transform: uppercase;
  }

  .flex-outer li label, .flex-outer li .currentInfo {
    padding: 8px;
    flex: 1 1 calc(33.33% - 20px);
    max-width: 25%;
    word-wrap: break-word;

  }

  .flex-outer > li > label + * {
    flex-grow: 1;
  }

  .flex-outer li input,
  .flex-outer li textarea {
    padding: 15px;
    border: none;
    flex: 1 1 calc(33.33% - 20px)
  }
  
  .flex-outer li button {
    margin-left: auto;
    padding: 8px 16px;
    border: none;
    background: #1A5276;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
  }

/*  -- on hover-- */
  .flex-outer li button:hover {
    background-color: #ddd;
    color: black;
  }

/* --- styles for displaying sightings and birds --- */
.searchBar input, .searchBar input button {
  overflow: hidden;
  float: left;
  padding: .5%;
  margin: 0% 0% 2%;
  height: 1em;
  font-size: 1em;
  font-family: 'Barlow', sans-serif;
}

.grid-container {
    height: auto;
    width: 90vw;
    display: grid;
    grid-template: auto / 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
  }

  #welcome {
    align-items: center;
    width: 90vw;
    overflow: auto;
    padding: 1%;
    grid-gap: 0;
  }

  #welcome .grid-item img {
    max-height: 20vw;
    width: auto;
  }
  
  .grid-item {
    background-color: #FDFEFE;
    border: 1px solid #ccc;
    padding: 1%;
    box-shadow: 2px 3px 2px #ccc; 
  }

  img.show {
    max-width: 40vw;
    max-height: 40vw;
  }

  .grid-item img {
      width: 100%;
  }

  .grid-item img.default {
    width: 30%;
    padding: 0% 30%;
  }

  button {
    border: 1px solid #ccc;
    font-size: 1em;
    cursor: pointer;
    padding: .5% 2%;
  }
  
  .grid-item button {
    width: auto;
  }
  
  /* On mouse-over */
  button:hover {
    background: #1A5276;
    color: #FFFF;
    border: 1px solid #1A5276;
  }
