<h2>Log in</h2>

<form action="/users/login" method="post">
    <p>Email: <input type="text" name="email"></p>
    <p>Password: <input type="text" name="password"></p>
    <p><input type="submit" name="Log In"></p>
</form>

New user? <a href="/users/signup">Sign up here</a>