<div class="col-md-8 col-md-offset-2">
<br>
<div id="welcome" class="grid-container">
    <% @birds.sample(5).each do |bird|%>
        <div class="grid-item">
            <img src=<%= bird.img_src %> alt="bird photo" title="<%= bird.credit %>"/>
        </div>
    <% end %>
  
</div>
